#fpsMonitor {
    width: 100px;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: Arial, sans-serif;
    z-index: 1000;
    cursor: move;
}