@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Khmer&display=swap');

:root {
   --fonte_inter: "Inter", sans-serif;
   --fonte_khmer: "Khmer", sans-serif;

    //! Cores ----------
    --white: #fff;
    --white_pouco_transparent: #ffffff9c;
    --white_transparent: #ffffff8a;
    --black: #000;
    --black_transparent: #0000001a;
    --padrao1: rgba(58, 62, 64, 0.404);
    --padrao15: rgba(35, 38, 39, 0.404);
    --padrao2: rgba(46, 49, 50, 1);
    --padrao3: rgb(31, 36, 37);
    --padrao4: #0d0e0e;
    --background: rgba(82, 87, 90, 0.77);
    --cor_qse_transparente_background: #2e31333f;
    --background_black: hsla(0, 0%, 0%, 0.643);
    --background_black2:rgba(0, 0, 0, 0.411);
    --fonte_transparente: rgba(255, 255, 255, 0.23);
    --fonte_meio_transparente: rgba(255, 255, 255, 0.555);
    --verde_azul: rgb(0, 255, 213);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte_inter);
    list-style: none;
}

*::-webkit-scrollbar {
    width: 1px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 0;
}

button {
    outline: none !important;
}

.btn_bloqueado {
    cursor: not-allowed !important;
    color: var(--fonte_transparente) !important;
}

//! Música Linha -----------------------------
div.musica_linha {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--padrao1);
    border-radius: 4px;
    gap: 20px;

    div.primeira_parte_musica_linha {
        // width: 85%;
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;
        overflow: hidden;

        p.p_contador_musica_curtida {
            min-width: 30px;
            font-size: 12px;
        }

        img {
            width: 43px;
            height: 43px;
            border-radius: 4px;
            object-fit: cover;
        }

        div.texto_musica_linha {
            // width: 66%;

            p {
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            span {
                font-size: 12px;
                color: var(--fonte_meio_transparente);

                p {

                    span {
                        padding-left: 5px;
                        margin-bottom: -0.5px;

                        &:first-child {
                            padding: 0;
                        }

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    p.Views_Musica_Linha {
        flex: none;
        // width: 30px;
        font-size: 12px;
        text-align: center;
        color: var(--fonte_meio_transparente);
    }

    div.segunda_parte_musica_linha {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 30px;

        p {
            width: 30px;
            font-size: 14px;
        }

        button {
            width: 30px;
            height: 30px;
            border-radius: 4px;
            background-color: var(--cor_qse_transparente_background);
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
                object-fit: cover;
            }
        }
    }
}

div.container_inputs_pesquisar {
    width: 95%;
    max-width: 380px;
    padding: 0px 0px 0px 13px;
    background-color:  var(--cor_qse_transparente_background);
    border-radius: 4px;
    display: none;
    align-items: center;
    gap: 13px;

    img {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    input {
        width: 100%;
        font-size: 13px;
        padding-right: 13px;
        background-color: transparent;
        border: transparent;
        outline: none;
        color: var(--white);

        &::placeholder {
            color: var(--fonte_transparente);
            font-family: var(--fonte_inter);
        }
    }
}

.icons_like_barra_musica {
    cursor: pointer;
}

//! Musica Caixa -----------------------------
div.musica_caixa {
    width: calc(180px - 20px);
    min-width: 150px;
    height: 245px;
    border-radius: 8px;
    background-color:  var(--cor_qse_transparente_background);
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    gap: 0px;
    cursor: pointer;
    padding: 10px;


    div.container_img_musica {
        width: 95%;
        height: 55%;
        border-radius: 8px;
        overflow: hidden;
        margin-top: 2px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    div.texto_musica {
        width: 100%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        
        p {
            font-size: 14px;
            color: var(--white);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span {
            font-size: 13px;
            color: var(--fonte_meio_transparente);
            cursor: pointer;

            p {
                span {
                    padding-left: 5px;
                    margin-bottom: -0.5px;

                    &:first-child {
                        padding: 0;
                    }

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

//! Daily -----------------------------
div.daily_caixa {
    width: calc(180px - 20px);
    min-width: 150px;
    height: 245px;
    border-radius: 8px;
    background-color:  var(--cor_qse_transparente_background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    cursor: pointer;
    padding: 10px;


    div.container_img_musica {
        width: 95%;
        height: 55%;
        min-height: 55%;
        border-radius: 8px;
        overflow: hidden;
        margin-top: 2px;
        position: relative;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        div.contaier_svg_daily {
            width: 100%;
            height: 80px;
            position: absolute;
            bottom: 0;
            color: var(--white);
            margin-bottom: -10px;
            
            svg {
                height: 83px;
                width: 100%;
                position: absolute;
                bottom: 0;
                z-index: 1;
            }

            p {
                width: 100%;
                font-size: 15px;
                font-weight: bold;
                z-index: 2;
                position: absolute;
                text-align: center;
                bottom: 23px;
            }
        }
    }

    div.texto_musica {
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        gap: 10px;
        overflow: hidden;
        margin-top: 10px;
        
        p {
            font-size: 14px;
            color: var(--white);
        }

        span {
            font-size: 13px;
            color: var(--fonte_meio_transparente);
            cursor: pointer;

            p {
                font-size: 13px;
                color: var(--fonte_meio_transparente);

                span {
                    padding-left: 5px;
                    margin-bottom: -0.5px;

                    &:first-child {
                        padding: 0;
                    }

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.icon_random {
    cursor: pointer;

    path {
        fill: rgb(255, 255, 255);
    }
}

.bolinbha_notificacao {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--verde_azul);
    position: absolute;
    top: -3px;
    right: -3px;
    display: none;
}