@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Khmer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
:root {
  --fonte_inter: "Inter", sans-serif;
  --fonte_khmer: "Khmer", sans-serif;
  --fonte_Tiny5:"Tiny5", sans-serif;
  --white: #fff;
  --white_pouco_transparent: rgba(255, 255, 255, 0.612);
  --white_transparent: rgba(255, 255, 255, 0.541);
  --black_transparent: #0000001a;
  --padrao1: rgba(58, 62, 64, 0.404);
  --padrao15: rgba(35, 38, 39, 0.404);
  --padrao2: rgba(46, 49, 50, 1);
  --padrao3: rgb(31, 36, 37);
  --padrao4: #0d0e0e;
  --background: rgba(82, 87, 90, 0.77);
  --cor_qse_transparente_background: #2e31333f;
  --background_black: hsla(0, 0%, 0%, 0.643);
  --background_black2:rgba(0, 0, 0, 0.411);
  --fonte_transparente: rgba(255, 255, 255, 0.23);
  --fonte_meio_transparente: rgba(255, 255, 255, 0.555);
  --verde_azul: #007fb1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte_inter);
  list-style: none;
}

*::-webkit-scrollbar {
  width: 1px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0;
}

textarea {
  resize: none;
}

button {
  outline: none !important;
}

.btn_bloqueado {
  cursor: not-allowed !important;
  color: var(--fonte_transparente) !important;
}

p.config_lista_prox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700 !important;
  opacity: 0;
  letter-spacing: 2px;
  padding: 5px !important;
  margin: 0 !important;
}
p.config_lista_prox span {
  margin: 0 !important;
  padding: 0 !important;
}

div.div_container_perfil_usuario {
  width: 160px;
  min-width: 150px;
  height: 245px;
  border-radius: 8px;
  background-color: var(--black_transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  color: var(--white);
}
div.div_container_perfil_usuario div.div_container_img {
  width: 95%;
  height: 57%;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 2px;
}
div.div_container_perfil_usuario div.div_container_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
div.div_container_perfil_usuario div.div_container_texto {
  width: 100%;
  height: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
div.div_container_perfil_usuario div.div_container_texto p {
  font-size: 1rem;
  font-weight: bold;
}
div.div_container_perfil_usuario div.div_container_texto span {
  font-size: 0.9rem;
  color: var(--fonte_meio_transparente);
}

div.musica_linha {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--padrao1);
  border-radius: 4px;
  gap: 20px;
}
div.musica_linha div.primeira_parte_musica_linha {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
div.musica_linha div.primeira_parte_musica_linha p.p_contador_musica_curtida {
  min-width: 30px;
  font-size: 12px;
}
div.musica_linha div.primeira_parte_musica_linha img {
  width: 43px;
  height: 43px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
div.musica_linha div.primeira_parte_musica_linha div.texto_musica_linha p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.musica_linha div.primeira_parte_musica_linha div.texto_musica_linha span {
  font-size: 12px;
  color: var(--fonte_meio_transparente);
}
div.musica_linha div.primeira_parte_musica_linha div.texto_musica_linha span p span {
  padding-left: 5px;
  margin-bottom: -0.5px;
}
div.musica_linha div.primeira_parte_musica_linha div.texto_musica_linha span p span:first-child {
  padding: 0;
}
div.musica_linha div.primeira_parte_musica_linha div.texto_musica_linha span p span:hover {
  text-decoration: underline;
  cursor: pointer;
}
div.musica_linha p.Views_Musica_Linha {
  flex: none;
  font-size: 12px;
  text-align: center;
  color: var(--fonte_meio_transparente);
}
div.musica_linha div.segunda_parte_musica_linha {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}
div.musica_linha div.segunda_parte_musica_linha div.container_img_perfil_musica_linha_match {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  overflow: hidden;
}
div.musica_linha div.segunda_parte_musica_linha div.container_img_perfil_musica_linha_match img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
div.musica_linha div.segunda_parte_musica_linha p {
  width: 42px;
  font-size: 14px;
  text-align: end;
}
div.musica_linha div.segunda_parte_musica_linha button {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: var(--cor_qse_transparente_background);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
div.musica_linha div.segunda_parte_musica_linha button img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
div.musica_linha div.segunda_parte_musica_linha button.adicionar_remover_musica_criarplaylist {
  width: 140px;
  height: auto;
  padding: 10px 0;
  color: var(--white);
}

div.container_inputs_pesquisar {
  width: 95%;
  max-width: 380px;
  padding: 0px 0px 0px 13px;
  background-color: var(--cor_qse_transparente_background);
  border-radius: 4px;
  display: none;
  align-items: center;
  gap: 13px;
}
div.container_inputs_pesquisar img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
div.container_inputs_pesquisar input {
  width: 100%;
  font-size: 13px;
  padding-right: 13px;
  background-color: transparent;
  border: transparent;
  outline: none;
  color: var(--white);
}
div.container_inputs_pesquisar input::-moz-placeholder {
  color: var(--fonte_transparente);
  font-family: var(--fonte_inter);
}
div.container_inputs_pesquisar input::placeholder {
  color: var(--fonte_transparente);
  font-family: var(--fonte_inter);
}

.icons_like_barra_musica {
  cursor: pointer;
}

div.musica_caixa {
  width: 160px;
  min-width: 150px;
  height: 230px;
  border-radius: 8px;
  background-color: var(--black_transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  cursor: pointer;
  padding: 10px;
}
div.musica_caixa div.container_img_musica {
  width: 95%;
  height: 95%;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 2px;
}
div.musica_caixa div.container_img_musica img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
div.musica_caixa div.texto_musica {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.musica_caixa div.texto_musica p {
  font-size: 14px;
  color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.musica_caixa div.texto_musica span {
  font-size: 13px;
  color: var(--fonte_meio_transparente);
  cursor: pointer;
}
div.musica_caixa div.texto_musica span p span {
  padding-left: 5px;
  margin-bottom: -0.5px;
}
div.musica_caixa div.texto_musica span p span:first-child {
  padding: 0;
}
div.musica_caixa div.texto_musica span p span:hover {
  text-decoration: underline;
  cursor: pointer;
}

div.daily_caixa {
  width: 160px;
  min-width: 150px;
  height: 245px;
  border-radius: 8px;
  background-color: var(--black_transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  cursor: pointer;
  padding: 10px;
}
div.daily_caixa div.container_img_musica {
  width: 95%;
  height: 55%;
  min-height: 55%;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 2px;
  position: relative;
}
div.daily_caixa div.container_img_musica img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
div.daily_caixa div.container_img_musica div.contaier_svg_daily {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  color: var(--white);
  margin-bottom: -10px;
}
div.daily_caixa div.container_img_musica div.contaier_svg_daily svg {
  height: 83px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
div.daily_caixa div.container_img_musica div.contaier_svg_daily p {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  z-index: 2;
  position: absolute;
  text-align: center;
  bottom: 23px;
}
div.daily_caixa div.texto_musica {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  margin-top: 10px;
}
div.daily_caixa div.texto_musica p {
  font-size: 14px;
  color: var(--white);
}
div.daily_caixa div.texto_musica span {
  font-size: 13px;
  color: var(--fonte_meio_transparente);
  cursor: pointer;
}
div.daily_caixa div.texto_musica span p {
  font-size: 13px;
  color: var(--fonte_meio_transparente);
}
div.daily_caixa div.texto_musica span p span {
  padding-left: 5px;
  margin-bottom: -0.5px;
}
div.daily_caixa div.texto_musica span p span:first-child {
  padding: 0;
}
div.daily_caixa div.texto_musica span p span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icon_random {
  cursor: pointer;
}
.icon_random path {
  fill: rgb(255, 255, 255);
}

.bolinbha_notificacao {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--verde_azul);
  position: absolute;
  top: -3px;
  right: -3px;
  display: none;
}

div.container_artista_caixa {
  width: 160px;
  min-width: 150px;
  height: 245px;
  border-radius: 8px;
  background-color: var(--black_transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  cursor: pointer;
  padding: 10px;
}
div.container_artista_caixa div.container_img_artista_caixa {
  width: 95%;
  height: 63%;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 2px;
}
div.container_artista_caixa div.container_img_artista_caixa img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
div.container_artista_caixa div.container_texto_artista_caixa {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.container_artista_caixa div.container_texto_artista_caixa p {
  font-size: 14px;
  color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.container_artista_caixa div.container_texto_artista_caixa span {
  font-size: 13px;
  color: var(--fonte_meio_transparente);
  cursor: pointer;
}

.container_playlist {
  width: 160px;
  min-width: 150px;
  height: 245px;
  border-radius: 8px;
  background-color: var(--black_transparent);
  cursor: pointer;
  padding: 10px;
  color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 13px;
  cursor: pointer;
  margin-bottom: 15px;
}
.container_playlist.container_playlist_artista div.container_img_playlist {
  border-radius: 50%;
}
.container_playlist div.container_img_playlist_playlist {
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  background-color: black;
}
.container_playlist div.container_img_playlist_playlist.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  width: 100%;
}
.container_playlist div.container_img_playlist_playlist img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container_playlist div.container_texto_playlist {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
.container_playlist div.container_texto_playlist span {
  font-size: 13px;
  color: var(--fonte_meio_transparente);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container_playlist div.container_texto_playlist span.qm_postou_playlist {
  color: rgba(255, 255, 255, 0.733);
}
.container_playlist div.container_texto_playlist p {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--white);
  word-wrap: break-word;
}

div#container_carregamento_tela_innteira {
  width: 100vw;
  height: 100vh;
  display: flex;
  top: 0;
  left: 0;
  z-index: 8;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  position: fixed;
}
div#container_carregamento_tela_innteira .loader {
  display: flex;
  gap: 5px;
}
div#container_carregamento_tela_innteira .loader .bar {
  width: 10px;
  height: 40px;
  background-color: white;
  animation: jump 0.6s infinite;
  border-radius: 4px;
}
div#container_carregamento_tela_innteira .loader .bar:nth-child(2) {
  animation-delay: 0.2s;
}
div#container_carregamento_tela_innteira .loader .bar:nth-child(3) {
  animation-delay: 0.4s;
}
div#container_carregamento_tela_innteira .loader .bar:nth-child(4) {
  animation-delay: 0.6s;
}
div#container_carregamento_tela_innteira .loader .bar:nth-child(5) {
  animation-delay: 0.8s;
}
div#container_carregamento_tela_innteira .loader .bar:nth-child(7) {
  animation-delay: 1s;
}
@keyframes jump {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2.3);
  }
}
div#container_carregamento_tela_innteira #message_carregamento {
  position: absolute;
  bottom: 20px;
  color: white;
}

#copyNotification, #avisos_rapidos {
  max-width: 95%;
  position: fixed;
  bottom: -100px; /* Inicia fora da tela */
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s, bottom 0.5s;
  z-index: 6;
  box-shadow: 2px 2px 5px black;
  box-sizing: content-box;
}

#copyNotification.show, #avisos_rapidos.show {
  bottom: 120px; /* Desliza para dentro da tela */
  opacity: 1;
}

#cores_imgs {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 6;
}

.color-box {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

div.btn_marcar_config {
  width: 40px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.308);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.2s background ease-in-out;
}
div.btn_marcar_config.active {
  background: var(--verde_azul);
}
div.btn_marcar_config.active div.boll_config {
  left: 20px;
}
div.btn_marcar_config div.boll_config {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 0;
  transition: 0.2s left ease-in-out;
}

.Move {
  position: fixed;
  cursor: move;
}

.icone.active {
  fill: var(--verde_azul) !important;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(190deg) !important;
}

#Container_Off_Line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 8;
  background-color: #fff;
}
#Container_Off_Line .container {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#Container_Off_Line h1 {
  color: #333;
}
#Container_Off_Line p {
  color: #666;
  margin: 10px 0;
}
#Container_Off_Line .emoji {
  font-size: 50px;
  margin: 20px 0;
}
#Container_Off_Line .footer {
  margin-top: 20px;
  color: #999;
}/*# sourceMappingURL=Geral.css.map */