@media screen and (max-width: 1000px) {
    pre {
        font-size: 2.5vw !important;

        span {
            &.linha_pre_em_destaque_add_letra {
                font-size: 2.6vw !important;
            }
        }
    }

    textarea#text_area_add_letra {
        font-size: 2.5vw !important;
    }
}